<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="header"></div>
<div class="profiles"></div>

<script type="text/template" id="top-bar">
    <div class="top-bar">
        <div class="logo">Diablo 3 Profile Viewer</div>
        <div class="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="#profiles">Profiles</a></li>
            </ul>
        </div>
    </div>
</script>


<script type="text/template" id="user-panel">
    <form class="battleTagForm">
        <input type="text" value="" name="battleTag" />
        <input type="button" class="setTag" name="setBattleTag" value="Enter" />
    </form>
</script>


<script type="text/template" id="heroes-list">
    <% _.each(heroes, function(hero) { %>
            <br />
            <%- hero.name %><br />
            <%- hero.class %><br />
            <%- hero.level %><br />
            <%- hero.paragonLevel %><br />
            <a href="#profiles/<%- hero.id %>" class="heroDetails">show</a>
            <br />
    <% }); %>
</script>

<script type="text/template" id="hero-details">
        <h2>Stats: </h2>
        <ul>
            <li><a href="#profiles/<%- hero.id %>/basic">basic</a></li>
            <li><a href="#profiles/<%- hero.id %>/advance">advance</a></li>
        </ul>

        <%- hero.get('name') %><br />
        <%- hero.get('level') %> lvl (<%- hero.get('paragonLevel') %> lvl)<br />
        <br />
        

</script>


<script src="js/vendor/jquery-1.10.2.min.js"></script>
<script src="js/vendor/underscore.js"></script>
<script src="js/vendor/backbone.js"></script>
<script src="js/main.js"></script>

</body>
</html>
