<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>D3 Profiler</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="header"></div>
<div class="profiles"></div>

<script type="text/template" id="top-bar">
    <div class="top-bar">
        <div class="logo">Diablo 3 Profile Viewer</div>
        <div class="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="#profiles">Profiles</a></li>
            </ul>
        </div>
    </div>
</script>


<script type="text/template" id="user-panel">
    <form class="battleTagForm">
        <input type="text" class="input-field battleTag" value="Alucard#2129" />
        <input type="button" class="button button-primary" value="Enter" />
    </form>
</script>


<script type="text/template" id="heroes-list">
    <% _.each(heroes, function(hero) { %>
    <br/>
    <%- hero.name %><br/>
    <%- hero.class %><br/>
    <%- hero.level %><br/>
    <%- hero.paragonLevel %><br/>
    <button data-heroid="<%- hero.id %>" class="heroDetails">show</button>
    <br/>
    <% }); %>
</script>

<script type="text/template" id="hero-details">
    <h2>Stats: </h2>
    <ul>
        <li><a href="#profiles/<%- hero.id %>/basic">basic</a></li>
        <li><a href="#profiles/<%- hero.id %>/advance">advance</a></li>
    </ul>
    <%- hero.get('name') %><br/>
    <%- hero.get('level') %> lvl (<%- hero.get('paragonLevel') %> lvl)<br/>
    <br/>
    <div class="details"></div>
</script>

<script type="text/template" id="hero-details-basic">
    <h2>Basic stats: </h2>
    Damage: <%- hero.get('stats').damage %><br />
    Armor: <%- hero.get('stats').armor %><br />
    Dex: <%- hero.get('stats').dexterity %><br />
    Int: <%- hero.get('stats').intelligence %><br />
    Str: <%- hero.get('stats').strength %><br />
    Vit: <%- hero.get('stats').vitality %><br />
</script>

<script type="text/template" id="hero-details-advance">
    <h2>Advance stats: </h2>
    Attack speed: <%- hero.get('stats').attackSpeed %><br />
    Critical damage: <%- hero.get('stats').criticalDamage %><br />
    Life on Hit: <%- hero.get('stats').lifeOnHit %><br />
</script>


<script src="js/vendor/jquery-1.10.2.min.js"></script>
<script src="js/vendor/lodash.js"></script>
<script src="js/vendor/backbone.js"></script>
<script src="js/main.js"></script>

</body>
</html>
